.advantage {
  border-top: 1px solid #d6d6d6;
}

.advantage_highlight {
  border-top: none;

  & + .advantage {
    border-top: none;
  }
}

  .advantage__summary {
    padding: 27px 6.25% 28px;
    background: #eeeeee;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    text-transform: uppercase;

    .advantage_highlight & {
      padding-top: 40px;
      padding-bottom: 39px;
      background-color: #81b3d2;
      color: #fff;
    }
  }
    .advantage__title {

    }

    .advantage__index {
      margin: 8px 0 0;
    }

    .advantage__index:before {
      content: '— ';
    }
    .advantage__index:after {
      content: ' —';
    }

    .advantage__thing {
      margin: 15px 0 0;
    }

  .advantage__background {
    position: relative;
    height: 256px;
    overflow: hidden;
    background-color: #e1b39f;
  }
    .advantage__pic {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: auto;
      min-height: 100%;
      min-width: 100%;
      transform: translate(-50%, -50%);
    }

  .advantage__properties {
    padding: 26px 6.25% 36px;
  }
    .advantage__stat {
      margin: 20px 0 0;
    }

    .advantage__stat:first-child {
      margin-top: 0;
    }


@media (min-width: $widthTabletStarts) {

  .advantage {
    border-top: none;
  }
    .advantage__summary {
      box-sizing: border-box;
      height: 256px;
      padding: 46px 30px 45px;

      .advantage_highlight & {
        padding-top: 46px;
      }

    }
      .advantage__title {
        padding: 0 20px;
      }
      .advantage__thing {
        margin-top: 21px;
      }

    .advantage__properties {
      padding: 0;
    }

  .advantage_highlight {
    display: flex;
    flex-wrap: wrap;

    .advantage__summary {
      flex: 0 0 33.333%;
      max-width: 33.333%;
      box-sizing: border-box;
    }

    .advantage__background {
      flex: 0 0 66.666%;
      max-width: 66.666%;
      width: auto;
    }

    .advantage__properties {
      box-sizing: border-box;
      flex: 0 0 100%;
      display: flex;
    }
      .advantage__stat {
        position: static;
        margin: 0;
        flex: 0 0 33.333%;
        max-width: 33.333%;
        box-sizing: border-box;
      }

  }

  .advantage_highlight:nth-child(even) {
    .advantage__background {
      order: -1;
    }
  }
}

@media (min-width: $widthDesktopStarts) {
  .advantage__summary {
    padding-left: 60px;
    padding-right: 60px;
  }
}
