.control {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}
  .control__icon {
    position: absolute;

    .control_id_playback & {
      left: 12px;
      top: 7px;
      width: 16px;
      height: 20px;
    }

    .control_id_captions & {
      left: 4px;
      top: 10px;
      width: 32px;
      height: 20px;
    }

    .control_id_full-screen & {
      left: 10px;
      top: 10px;
      width: 20px;
      height: 20px;
    }

  }

  .control:hover #control__background {
    fill: #333;
  }

  .control:active #control__background {
    fill: #c1c1c1;
  }

@media (min-width: $widthTabletStarts) {
  #control__background,
  .control:hover #control__background,
  .control:active #control__background {
    fill: #fff;
  }
}
