.developer {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.developer:hover  {
  color: #81b3d2;

  .developer__logo {
    fill: #81b3d2;
  }
}

.developer:active  {
  color: #b2b2b2;

  .developer__logo {
    fill: #b2b2b2;
  }
}


  .developer__title {
    margin: 0 10px 0 0;
  }

  .developer__name {
    display: none;
  }

  .developer__logo {
    width: 28px;
    height: 34px;
    vertical-align: top;
  }
