.footer {
  padding: 36px 0 23px;
  text-align: center;
}
  .footer__connect {
    margin: 36px 0 0;
  }

  .footer__credits {
    margin: 40px 0 0;
    text-align: center;
  }


@media (min-width: $widthTabletStarts) {

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
  }
    .footer__hash-tag {
      flex: 0 1 50%;
      box-sizing: border-box;
      margin-top: 10px;
      text-align: left;
    }

    .footer__connect {
      margin-top: 0;
    }

    .footer__credits {
      flex: 0 1 50%;
      box-sizing: border-box;
      margin-top: 7px;
      text-align: right;
    }
}



@media (min-width: $widthDesktopStarts) {

    .footer__hash-tag {
      border-left: 132px solid #fff;
    }

    .footer__credits {
      border-right: 132px solid #fff;
    }
      .footer__developer {
        position: relative;
        right: -88px;
      }
}
