.param {
  position: relative;
  padding: 10px 0 0 50px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}

.param_id_apartments {

}

.param_id_gifts {

}

.param_id_food {

}

  .param__icon {
    position: absolute;
    left: 0;
    top: 0;

    .param_id_apartments & {
      width: 39px;
      height: 37px;
    }

    .param_id_gifts & {
      width: 32px;
      height: 38px;
      margin-top: -3px;
      margin-left: 5px;
    }

    .param_id_food & {
      width: 40px;
      height: 35px;
      margin-top: 5px;
      margin-left: -2px;
    }

  }

  .param__title {

  }

  .param__description {
    margin: 13px 0 0;
  }



@media (min-width: $widthTabletStarts) {

  .param {
    box-sizing: border-box;
    min-height: 330px;
    padding: 61px 20px 40px;
    text-align: center;
  }
    .param__icon {
      position: static;
      left: auto;
      top: auto;
      margin: 0;

      .param_id_apartments & {
        width: 75px;
        height: 73px;
      }

      .param_id_gifts & {
        width: 63px;
        height: 76px;
      }

      .param_id_food & {
        width: 77px;
        height: 67px;
      }
    }

    .param__title {
      margin-top: 20px;

    }

    .param__description {
      margin-top: 20px;
    }
}

@media (min-width: $widthDesktopStarts) {
  .param__description {
    padding-left: 50px;
    padding-right: 50px;
  }
}
