.stage {
  position: relative;
  overflow: hidden; /* to crop angles */
  background-color: #a2abc8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* backgrounds */
.stage {
  background-image: url(../img/bg-back-mobile@1x.jpg);
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
  .stage {
    background-image: url(../img/bg-back-mobile@2x.jpg);
  }
}

@media (min-width: $widthTabletStarts) {
  .stage {
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }
  @media (-webkit-min-device-pixel-ratio: 1.5) {
    .stage {
      background-image: url(../img/bg-back-desktop@2x.jpg);
    }
  }
}


.stage_main {

}

  /* outer left triangle */
  .stage:before {
    content: '';
    position: absolute;
    z-index: 100;
    right: 50%;
    bottom: 0;
    display: block;
    border-right: 600px solid transparent;
    border-bottom: 58px solid #fff;
  }

  /* outer right triangle */
  .stage:after {
    content: '';
    position: absolute;
    z-index: 100;
    left: 50%;
    bottom: 0;
    display: block;
    border-left: 600px solid transparent;
    border-bottom: 58px solid #fff;
  }


  .stage__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 142px;
    padding: 0 0 16px;

    .stage_main & {
      height: 390px;
      padding-bottom: 0;
    }
  }

    /* inner left triangle */
    .stage__inner:before {
      content: '';
      position: absolute;
      z-index: 200;
      right: 50%;
      bottom: 0;
      display: block;
      border-right: 350px solid transparent;
      border-bottom: 58px solid #fff;
    }

    /* inner right triangle */
    .stage__inner:after {
      content: '';
      position: absolute;
      z-index: 200;
      left: 50%;
      bottom: 0;
      display: block;
      border-left: 350px solid transparent;
      border-bottom: 58px solid #fff;
    }
      .stage__title {
        width: 230px;
        height: 40px;

        .stage_main & {
          width: 286px;
          height: 213px;
        }
      }


@media (min-width: $widthTabletStarts) {

  .stage__inner {

    .stage_main & {
      height: 498px;
      padding-bottom: 21px;
    }
  }

  .stage__title {
    width: 460px;
    height: 80px;

    .stage_main & {
      width: 460px;
      height: 351px;
    }
  }



}

@media (min-width: $widthTabletStarts) and (max-width: $widthTabletEnds) {

  .stage__inner {
    height: 268px;
    padding-bottom: 22px;
  }

}

@media (min-width: $widthDesktopStarts) {

  .stage__inner {
    height: 284px;
    padding-bottom: 17px;
  }

}
