.burger {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
  .burger:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 24px;
    height: 22px;
    margin: -11px 0 0 -12px;
    background: url(../img/icon-menu.svg) no-repeat center center;
    background-size: auto 100%;
  }
