$choice__iconHeight: 58px; /* same to inputs */


.choice {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 78px;
  line-height: $choice__iconHeight;
  cursor: pointer;
}

.choice_type_radio {

}

.choice_type_check {

}
  .choice__widget {
    position: absolute;
    left: 20px;
    top: 20px;

    /* if :checked available hide original widget */
    &:checked,
    &:not(:checked) {
      opacity: 0;
    }
  }

  .choice__icon {

    /* if :checked available show styled icon */
    .choice__widget:checked ~ &,
    .choice__widget:not(:checked) ~ & {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: $choice__iconHeight;
      height: $choice__iconHeight;
      background: #f2f2f2;
    }

    .choice_type_radio .choice__widget:checked ~ &,
    .choice_type_radio .choice__widget:not(:checked) ~ & {
      border-radius: 50%;
    }

    .choice_type_check .choice__widget:checked ~ &,
    .choice_type_check .choice__widget:not(:checked) ~ & {
      border-radius: 6px;
    }

    .choice__widget:focus ~ & {
      outline: auto;
    }

    .choice:hover & {
      background-color: #e5e5e5;
    }

    .choice:active & {
      background-color: #d5d5d5;
    }

    /* no hovers for checked radio */
    .choice_type_radio .choice__widget:checked ~ & {
      background-color: #f2f2f2;
      cursor: default;
    }

  }

    .choice__icon:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      display: block;

      .choice_type_radio .choice__widget:checked ~ & {
        width: 22px;
        height: 22px;
        margin: -11px 0 0 -11px;
        background: #333333;
        border-radius: 50%;
      }

      .choice_type_check .choice__widget:checked ~ & {
        width: 24px;
        height: 17px;
        margin: -9px 0 0 -12px;
        background: url(../img/icon-tick.svg) no-repeat center center;
        background-size: 100%;
      }
    }

  .choice__label {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
  }
