.developer {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}
  .developer__title {
    margin: 0 10px 0 0;
  }

  .developer__name {
    display: none;
  }

  .developer__logo {
    vertical-align: top;
  }
