.gallery {

}
  .gallery__item {
    margin: 0 -20px;
    padding: 22px 20px 10px;
    border-bottom: 1px solid #e5e5e5;
  }

  .gallery__item_highlight {

  }

@media (min-width: $widthTabletStarts) {

  .gallery {
    display: flex;
    flex-wrap: wrap;
  }

    .gallery__item {
      margin: 0;
      padding: 0;
      border: none;
      width: 50%;
      max-width: 50%;
    }

    .gallery__item_highlight {
      width: 100%;
      max-width: 100%;
    }
}


@media (min-width: $widthDesktopStarts) {
  .gallery__item {
    width: 33.334%;
    max-width: 33.334%;
  }
  .gallery__item_highlight {
    width: 100%;
    max-width: 100%;
  }
}
