.header {
  background: #ffffff;
}
  .header__nav-handler {
    display: none;
  }

  .header__navigation {
    position: relative;
    margin-top: -222px;

    .header__nav-handler:not(:checked) ~ & {
      margin-top: -222px;
      transition: margin-top .5s ease;
    }

    .header__nav-handler:checked ~ & {
      margin-top: 0;
      transition: margin-top .5s ease;
    }
  }
    .header__hide-nav {
      position: absolute;
      right: 0;
      top: 0;

      &.cancel {
        position: absolute;
      }
    }

  .header__bar {
    position: relative;
    height: 56px;
  }
    .header__logo {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%,0);
    }
      .header__emblem {

      }

    .header__show-nav {
      position: absolute;
      right: 0;
      top: 0;

      &.burger {
        position: absolute;
      }
    }


  .header__hide-nav {

  }


@media (min-width: $widthTabletStarts) {

  .header {
    position: relative;
  }
    .header__hide-nav {
      display: none;

      &.cancel {
         display: none;
       }
    }

    .header__show-nav {
      display: none;

      &.burger {
         display: none;
       }
    }


    .header__navigation {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 15px;
      margin-top: 0;

      .header__nav-handler:not(:checked) ~ & {
        margin-top: 0;
      }
    }

}

