.heading {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

/* same on mobile but will grow in size */
.heading_size_rise {

}

/* a bit larger on mobile and will grow in size */
.heading_size_grow {
  font-size: 21px;
  line-height: 26px;
}

/* always same size but a bit larger */
.heading_size_important {
  font-size: 21px;
  line-height: 26px;
}

.header_palette_secondary {
  color: #FFFFFF;
}


@media (min-width: $widthTabletStarts) {
  .heading {
    font-size: 21px;
    line-height: 26px;
  }

  .heading_size_rise {
    font-size: 30px;
    line-height: 26px;
  }

  .heading_size_grow {
    font-size: 30px;
    line-height: 26px;
  }

  .heading_size_important {
    /* same */
  }

}
