.map {
  position: relative;
  height: 350px;
}
  .map__container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }

    .map__picture {

    }
      .map__image {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
      }


  .map__pointer {
    position: absolute;
    width: 1px;
    height: 1px;
  }
    .map__pointer:after {
      content: '';
      position: absolute;
      display: block;
      width: 17px;
      height: 17px;
      margin: -12px 0 0 -12px;
      background: #81b4d4;
      border: 5px solid #fff;
      border-radius: 50%;
    }
