.param {
  position: relative;
  padding: 10px 0 0 50px;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
}
  .param__icon {
    position: absolute;
    left: 0;
    top: 0;
  }

  .param__title {

  }

  .param__description {
    margin: 13px 0 0;
  }



@media (min-width: $widthTabletStarts) {

  .param {
    box-sizing: border-box;
    height: 330px;
    padding: 44px 20px 0;
    text-align: center;
  }
    .param__icon {
      position: static;
      left: auto;
      top: auto;
      width: 90px;
      height: 90px;
    }

    .param__title {
      margin-top: 20px;

    }

    .param__description {
      margin-top: 20px;
    }
}

@media (min-width: $widthDesktopStarts) {
  .param__description {
    padding-left: 50px;
    padding-right: 50px;
  }
}
